body {
background: #affcccc;
text-align: center;
font-family: Helvetica;
font-size:24px;
}

h1 {
border-style: solid;
border-width: 10px;
border-color: #CDSCSC;
}

/* Style the links inside the sidenav */
#Sidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#Sidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#image 1 {
    top: 20px;
    background-color: #4CAF50;
}

#image 2 {
    top: 80px;
    background-color: #2196F3; /* Blue */
}

#image 3 {
    top: 140px;
    background-color: #f44336; /* Red */
}

#image 4 {
    top: 200px;
    background-color: #555 /* Light Black */
