body {
background: #affcccc;
text-align: center;
font-family: Helvetica;
font-size:24px;
}

h1 {
border-style: solid;
border-width: 10px;
border-color: #CDSCSC;
}

Sidenav a {
    position: absolute; 
    left: -80px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px;
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0; 
}

Sidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
image 1 {
    top: 20px;
    background-color: #4CAF50;
}

image 2 {
    top: 80px;
    background-color: #2196F3; /* Blue */
}

image 3 {
    top: 140px;
    background-color: #f44336; /* Red */
}

image 4 {
    top: 200px;
    background-color: #555 /* Light Black */
}
